*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: linear-gradient(to right bottom, rgb(0, 196, 245), #f1fefda8);
    display: flex;
    align-items: center;
    justify-content: center;

}
ul
{
 list-style: none;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;

}
header
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.content
{
    width: 100%;
}
.fa-quote-left, .fa-quote-right {
    font-size: 35px;
    color: rgb(0, 109, 182);
}
.quote
{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.author 
{
    margin:10px;
    text-align: right;
    font-size: 18px;
    font-style: italic;
    font-family: cursive;
}
hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}
.buttons, .features{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
}
.features ul
{
    display: flex;
}
.feature ul li
{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor:pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.twitter
{
    border-radius: 4px;
    text-align: center;
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    line-height: 40px;
    margin: 10px;
    padding: 5px;
}
.twitter
{
    color: black;
}
.twitter:hover
{
    background-color: black;
    color: aliceblue;
}
.next
{
    border: 1px solid black;
    outline: none;
    color: white;
    cursor:pointer;
    font-size:18px;
    border-radius: 30px;
    padding: 13px 22px;
    margin-top: 5px;
    font-weight: bold;
    background-image: linear-gradient(to right bottom, rgb(2, 162, 202), #f1fefda8);
}
.next:hover
{
    box-shadow: 0 3px 3px 0 black;
    transition: 0.3s;
}
.container:hover
{
    box-shadow: 0 10px 10px rgb(0, 163, 233);
}